@import url('https://fonts.cdnfonts.com/css/clear-sans');

:root{
  --primary-color: #FF6B6B;
  --secondary-color: #FFE66D;
  --tertiary-color: #88DEB7;
  --quaternary-color: #6B6BFF;
  --quinary-color: #FF6B6B;
  --white-color: #FFFFFF;
  --black-color: #3C3C43;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Clear Sans', sans-serif;
}